{
  "root": true,
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "object-curly-spacing": "off",
    "require-atomic-updates": "off",
    "comma-dangle": "off",
    "no-shadow": "off",
    "no-extra-semi": "error"
  }
}
