{
    "branch": "master",
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      [
        "@semantic-release/npm",
        {
          "npmPublish": false
        }
      ],
      "@semantic-release/git",
      [
        "@semantic-release/github",
        {
          "assets": [
            {"path": "qrl-cli-macos.zip", "label": "macOS executable"},
            {"path": "qrl-cli-win.zip", "label": "Windows executable"},
            {"path": "qrl-cli-linux.zip", "label": "Linux executable"}
          ]
        }
      ]
    ]
  }