{
    "branch": "master",
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      [
        "@semantic-release/npm",
        {
          "npmPublish": false
        }
      ],
      [
        "@semantic-release/github",
        {
          "assets": [
            {"path": "dist/macos/qrl-cli", "label": "macOS distribution"},
            {"path": "dist/win/qrl-cli.exe", "label": "Windows distribution"},
            {"path": "dist/linux/qrl-cli", "label": "Linux distribution"}
          ]
        }
      ]
    ]
  }